<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mapdemo">
    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/demo_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label,android:theme">
        <activity android:name=".userInfo"></activity>
        <activity android:name=".unityLoader" />
        <activity
            android:name=".CouponPopActivity"
            android:theme="@style/AppTheme.Popup" />
        <activity android:name=".StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".CameraDemoActivity"
            android:label="@string/camera_demo_label" />
        <activity
            android:name=".CircleDemoActivity"
            android:label="@string/circle_demo_label" />
        <activity
            android:name=".EventsDemoActivity"
            android:label="@string/events_demo_label" />
        <activity
            android:name=".LocationSourceDemoActivity"
            android:label="@string/location_source_demo_label" />
        <activity
            android:name=".MarkerDemoActivity"
            android:label="@string/marker_demo_label" />
        <activity
            android:name=".MarkerCloseInfoWindowOnRetapDemoActivity"
            android:label="@string/marker_close_info_window_on_retap_demo_label" />
        <activity
            android:name=".MyLocationDemoActivity"
            android:label="@string/my_location_demo_label" />
        <activity
            android:name=".OptionsDemoActivity"
            android:label="@string/options_demo_label" />
        <activity
            android:name=".PolygonDemoActivity"
            android:label="@string/polygon_demo_label" />
        <activity
            android:name=".PolylineDemoActivity"
            android:label="@string/polyline_demo_label" />
        <activity
            android:name=".ProgrammaticDemoActivity"
            android:label="@string/programmatic_demo_label" />
        <activity
            android:name=".RawMapViewDemoActivity"
            android:label="@string/raw_map_view_demo_label" />
        <activity
            android:name=".RetainMapDemoActivity"
            android:label="@string/retain_map_demo_label" />
        <activity
            android:name=".SaveStateDemoActivity"
            android:label="@string/save_state_demo_label" />
        <activity
            android:name=".SnapshotDemoActivity"
            android:label="@string/snapshot_demo_label" />
        <activity
            android:name=".StyledMapDemoActivity"
            android:label="@string/styled_map_demo_label" />
        <activity
            android:name=".TagsDemoActivity"
            android:label="@string/tags_demo_label" />
        <activity
            android:name=".TileCoordinateDemoActivity"
            android:label="@string/tile_coordinate_demo_label" />
        <activity
            android:name=".TileOverlayDemoActivity"
            android:label="@string/tile_overlay_demo_label" />
        <activity
            android:name=".UiSettingsDemoActivity"
            android:label="@string/ui_settings_demo_label" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-nF9HHixtVCi0AR_q0TF8PNOxyIAMCI0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"
        tools:replace="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"
        tools:replace="android:maxSdkVersion" />

</manifest>